.skeleton-wrapper {
  margin: 20px auto;
  padding: 10px 15px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton-wrapper.light {
  background-color: #f2f2f2;
}

.skeleton-wrapper.dark {
  background-color: #444;
}
